{% extends "base.html" %}

{% block content %}

<h1>Products</h1>

<h3>Add Product</h3>

<form method="POST">
{% csrf_token %}

<input name="name" placeholder="Product Name" required>
<input name="sku" placeholder="SKU" required>

<button type="submit">Add Product</button>

</form>

<br><br>

<table border="1">

<tr>
<th>ID</th>
<th>Name</th>
<th>SKU</th>
</tr>

{% for p in products %}

<tr>
<td>{{ p.id }}</td>
<td>{{ p.name }}</td>
<td>{{ p.sku }}</td>
</tr>

{% endfor %}

</table>

{% endblock %}